.backArrow{
    width: 30px;
    height: 30px;
    margin: 25px,18px;
   
    border : 2px solid orange;
}
.projectName{
    width: 29px;
    height: 18px;
    margin: 25px,18px;
    display: flex;
    border : 2px solid orange;
}
.ChevronRight{   width: 29px;
    height: 18px;
    margin: 25px,18px;
    display: flex;
    border : 2px solid orange;}
.HPO{   width: 29px;
    height: 18px;
    margin: 25px,18px;
    display: flex;
    border : 2px solid orange;}
.ChevronRight{   width: 29px;
    height: 18px;
    margin: 25px,18px;
    display: flex;
    border : 2px solid orange;}
.HPODropDown{   width: 29px;
    height: 18px;
    margin: 25px,18px;
    display: flex;
    border : 2px solid orange;}