.run {
display: flex;

}
.footer{
  display: flex;
  justify-content: flex-end;
}
.footerContents {
 display: flex;

}
.teamList{
  display: flex;
  border: red 3px solid;
  justify-content: space-between;
}