  /* .projectMainLayout{
    position : absolute;
     top: 15%;
    left: 10%; 
   
}   */
.Profile{
    background-color: #f5f6fa;
}
.projectMainLayout{
    border : black 3px solid;
  
}
.projectHeader{
    border: purple 3px solid;
    
}
.projectProfile
{
    border : orange 3px solid;
    padding : 4px 261px;
}
.projectCard{
    border : green 3px solid;
    padding : 4px 261px;
}
.teamCard{
    border : blue 3px solid;
    padding : 4px 261px;
}
.runCard{
    border : red 3px solid;
    padding : 4px 261px;
}
.activityCard{
    font-weight: bold;
    font-size:x-large;
   position: relative;
   line-height: 3;
}
.profileImage{
    
    width: 7.6rem;
    height: 7.6rem;
   object-fit: contain;
 
}
.nopadding {
    padding: 0 ;
    margin: 0 ;
   
    
 }
 /* .name{
     position: absolute;
    left:22.2%;
    top:7%; 
    margin:auto;
    width: 8rem;
    height: 2rem;
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2a2a2d;

}  */
/* .id{

    width: 3.68rem;
  height: 1.1rem;
  font-family: Lato;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2a2a2d;
} */
/* .text{
    
    width: 28rem;
    height: 1.2rem;
    font-family: Lato;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7b7b7;
}  */
