.projectMainLayout{
    position : absolute;
     top: 15%;
    left: 10%; 
   
} 
.profileLayout{
    position : relative;
   
    left: 80%;
    top:80%;
    transform: translate(-50%, -100%);
    font-size: medium;
} 
.activityCard{
    font-weight: bold;
    font-size:x-large;
   position: relative;
   line-height: 3;
}