 /* .search{
  position : fixed;
  left:70rem;
  top:17rem;
  width: 9rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: solid 1px #e3e3e6;
  background-color: #ffffff;
  margin-bottom: 2rem;
}
.addButton{
  position : fixed;
  left:80rem;
  top:17rem;
  width: 9rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: #142147;
  margin-bottom: 2rem;

}  */