.projectList{
  display: flex;
  justify-content: space-between;
 
  margin : 10px 5px;
}
.card{
  display: flex;
  width: 455px;
  min-width:455px;
  max-width: 455px;
  height: 169px;
  border-radius: 11px;
   margin : 5px 0px;
  padding: 20 23 65 25; 
  background-color: #ffffff;
 


}
.badge{
  width: 5rem;
  height: 1.3rem;
  border-radius: 0.6rem;
  background-color: #268ef7;
  margin-left: 0;
  padding : 0;
  color :#ffffff;
  font-size: 1rem;
  font-family: Lato;
}
.title{
  width: auto;
  height: 1.3rem;
  font-family: Lato;
  font-size: 1.3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #080808;
  padding : 0;
  margin-right: 1rem;
  margin-top: 0rem;
}  